/****** Stylesteet for Vineland Comic *****/
/*
Website by Allison Betancourt and Derrick Hinkle
Theme designed by Kelsey Betancourt (and a little bit by Allison too!)
Theme copywrite by Allison and Kelsey Betancourt
*/

/****** Global ********/
html, body {
	font-family: Georgia,serif;
	height:auto;
}
a{
	color:#42777d;
}
a.hover{
	color:#10210f;
}
h4{
	color:#333333;
}
.btn-default{
	text-shadow:none;
	color:#FFFFFF;
}

/******** Navbar *********/
nav{
	background-color:#ccd8ba;
	border-color:#dbe8b5;
	min-height: 25px;
}
.navbar-brand, .navbar-nav>li>a:hover, .navbar-brand, .navbar-nav>li>a:active, .navbar-nav>li>a.dropdown-toggle:hover, .navbar-nav>li>a.dropdown-toggle:active{
	color:#000000;
	background-color:#ccd8ba;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
	background-color:#ccd8ba;
}
nav li{
	padding-top: 2px;
}
.navbar .navbar-toggle.collapsed{
	color:#87a020;
	text-shadow: 0 1px 0 #dbe8b5;
}
.icon-bar{
	background-color: #42777d;
}
.navbar-default .navbar-toggle {
	border-color: #87a020;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active{
	background-color: #87a020;
	border-color: #dbe8b5;
}
#headerfollow img{
	height: 25px;
	width:auto;
	margin:3px;
	display: inline;
}

/******* Content (comic,archive,etc) *******/
#comicpost img{
	magin-left:0px;
	margin-bottom:10px;
	margin-top:10px;
}

/******* Header images ******/
.page-header img{
	text-align: center;
	margin-right: auto;
	margin-left: auto;

}
.title img{
	width:75%;
	height: auto;
}
#subtitle{
	width:50%;
	height:auto;
}

/******** Footer ********/
#footer {
	background-color: #ccd8ba;
	border-color: #a4ba84;
	margin:0 auto;
	padding-top: 10px;
	margin-top: 20px;

}

.text-muted{
	color:#333333;
}
