<div class="row">
	<div class="container" id="main">
		<h2 class="text-center" ng-show="arc.title">{{arc.title}}</h2>
		<h4 class="text-center" ng-show="page.title">{{chapter.title}}</h4>
		<h5 class="text-center" ng-show="chapter.title">{{page.title}}</h5>
		<div class="row text-center">
			<!-- Buttons Top -->
			<div class="btn-group">
				<a id="firstbtntop" class="btn btn-default" ng-class="{disabled:!links.prev}" ng-href="{{links.first}}">
					<span class="glyphicon glyphicon-backward"></span>
				</a>
				<a id="nextbtntop" class="btn btn-default" ng-class="{disabled:!links.prev}" ng-href="{{links.prev}}">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a id="archbtntop" class="btn btn-default" href="#/archive">
					<span class="glyphicon glyphicon-th"></span>
				</a>
				<a id="prevbtntop" class="btn btn-default" ng-class="{disabled:!links.next}" ng-href="{{links.next}}">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
				<a id="latestbtntop" class="btn btn-default" ng-class="{disabled:!links.next}" ng-href="{{links.latest}}">
					<span class="glyphicon glyphicon-forward"></span>
				</a>
			</div>

			<!-- Comic -->
			<div class="container text-center" id="comicpost">
				<img class="img-responsive" ng-href="{{links.next}}" ng-src="{{page.image}}">
			</div>

			<!-- Buttons Bottom -->
			<div class="btn-group">
				<a id="firstbtnbt" class="btn btn-default" ng-class="{disabled:!links.prev}" ng-href="{{links.first}}">
					<span class="glyphicon glyphicon-backward"></span>
				</a>
				<a id="nextbtnbt" class="btn btn-default" ng-class="{disabled:!links.prev}" ng-href="{{links.prev}}">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a id="archbtnbt" class="btn btn-default" href="#/archive">
					<span class="glyphicon glyphicon-th"></span>
				</a>
				<a id="prevbtnbt" class="btn btn-default" ng-class="{disabled:!links.next}" ng-href="{{links.next}}">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
				<a id="latestbtnbt" class="btn btn-default" ng-class="{disabled:!links.next}" ng-href="{{links.latest}}">
					<span class="glyphicon glyphicon-forward"></span>
				</a>
			</div>
		</div>
	</div>

</div>
