<div class="row">
	<div class="container text-center" id="main">
		<div class="row" id="title">
			<h4 ng-show="chapter.title">{{chapter.title}}</h4>
			<h5 itemprop="headline" ng-show="page.title">{{page.title}}</h5>
		</div>
		<div class="row">
			<!-- Buttons Top -->
			<div class="btn-group">
				<a id="firstbtntop" class="btn btn-default" ng-class="{disabled:!links.prev}" ng-href="{{links.first}}">
					<span class="glyphicon glyphicon-backward"></span>
				</a>
				<a id="nextbtntop" class="btn btn-default" ng-class="{disabled:!links.prev}" ng-href="{{links.prev}}">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a id="archbtntop" class="btn btn-default" href="#/archive">
					<span class="glyphicon glyphicon-th"></span>
				</a>
				<a id="prevbtntop" class="btn btn-default" ng-class="{disabled:!links.next}" ng-href="{{links.next}}">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
				<a id="latestbtntop" class="btn btn-default" ng-class="{disabled:!links.next}" ng-href="{{links.latest}}">
					<span class="glyphicon glyphicon-forward"></span>
				</a>
			</div>

			<!-- Comic -->
			<div class="row">
				<div class="col-md-8 col-md-offset-2" id="comicpost">
					<a ng-class="{disabled:!links.next}" ng-href="{{links.next}}" title="vineland"><img itemprop="associatedMedia" class="img-responsive" ng-src="{{page.image}}"></a>
				</div>
			</div>

			<!-- Buttons Bottom -->
			<div class="btn-group">
				<a id="firstbtnbt" class="btn btn-default" ng-class="{disabled:!links.prev}" ng-href="{{links.first}}">
					<span class="glyphicon glyphicon-backward"></span>
				</a>
				<a id="nextbtnbt" class="btn btn-default" ng-class="{disabled:!links.prev}" ng-href="{{links.prev}}">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a id="archbtnbt" class="btn btn-default" href="#/archive">
					<span class="glyphicon glyphicon-th"></span>
				</a>
				<a id="prevbtnbt" class="btn btn-default" ng-class="{disabled:!links.next}" ng-href="{{links.next}}">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
				<a id="latestbtnbt" class="btn btn-default" ng-class="{disabled:!links.next}" ng-href="{{links.latest}}">
					<span class="glyphicon glyphicon-forward"></span>
				</a>
			</div>
			<hr />

			<!-- Comments by Disqus-->
			<div class="container" itemprop="comment" id="comments">
				<div id="disqus_thread"></div>
		    <script type="text/javascript">
		        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		        var disqus_shortname = 'vinelandcomic'; // required: replace example with your forum shortname
						var disqus_identifier = 'vinelandcomic+{{arc.title}}+{{chapter.title}}+{{page.title}}'

		        /* * * DON'T EDIT BELOW THIS LINE * * */
		        (function() {
		            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		        })();
		    </script>
		    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
			</div> <!-- /#comments -->
		</div>
	</div> <!-- /#main -->

</div>
